@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1> @Html.ActionLink("Categories", "Index", "Categories")</h1>
    <h1> @Html.ActionLink("Products", "Index", "Product")</h1>
</div>
